@app.route("/recommendations_based_users", methods=['GET', 'POST'])
def recommendations_users():
    if request.method == 'POST':
        user_id = int(request.form['user_id'])
        movie_title = request.form['movie_title']
        interv = zip(get_recommendations_collaborative(user_id = user_id, title = True), get_recommendations_collaborative(user_id = user_id,title =False))
        
        
        return render_template('recommender_based_user.html',
                               user_id=user_id,
                               movie_title=movie_title,
                               df_movies_links = df_movies_links,interv = interv)




#@app.route("/recommendations", methods=['GET', 'POST'])
#def recommendations():
#    if request.method == 'POST':
#        user_id = int(request.form['user_id'])
#        movie_title = request.form['movie_title']
 #       recommended_movies_popularity = get_recommendations_popularity()
  #      recommended_movies_genres = get_recommendations_genres(movie_title)
  #      interv = zip(get_recommendations_collaborative(user_id = user_id, title = True), get_recommendations_collaborative(user_id = user_id,title =False))
        
        return render_template('recommender_based_item.html',
                               user_id=user_id,
                               movie_title=movie_title,
                               df_movies = df_movies,
                               movie_merge = movie_merge,
                               recommended_movies_popularity=recommended_movies_popularity,
                               recommended_movies_genres=recommended_movies_genres,
                              interv = interv)