<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommender</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <style>
        /* Ajoutez ici votre propre style CSS si nécessaire */
    </style>
</head>
<body>
    <div class="container mt-4">
        <h1 class="mb-4">Movie Recommender</h1>
        <form method="POST" action="/recommendations">
            <div class="form-group">
                <label for="movie_title">Enter a Movie Title:</label>
                <input type="text" class="form-control" id="movie_title" name="movie_title" required>
            </div>
            <button type="submit" class="btn btn-primary">Get Recommendations</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
