<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommendations</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <style>
        /* Ajoutez ici votre propre style CSS si nécessaire */
    </style>
</head>
<body>
    <div class="container mt-4">
        <h1 class="mb-4">Movie Recommendations</h1>
        
        <div class="row">
            {% for movie in recommended_movies %}
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie }}</h5>
                        <p class="card-text">Genre: {{ movie_genre[movie_genre['title'] == movie]["genres"].values[0] }}</p>
                       
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
